# Created by .ignore support plugin (hsz.mobi)
/src/include_vendor.php
.idea/.name
.idea/WebDav.iml
.idea/copyright/
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ignore/
